pandas>=1.1.4
geopandas>=0.8.1
Rtree>=0.9.4
Shapely>=1.7.1
netCDF4>=1.5.4
requests>=2.24.0
xlrd>=1.0.0

docutils>=0.16
sphinx>=3.1.2
numpy>=1.18.5
setuptools>=49.2.0
xarray>=0.16.1
scipy>=1.5.4

scikit-learn>=0.23.2
xgboost==1.2.1
cdsapi==0.4.0
